@font-face{
	font-family: "goodtimes";
	src:url(goodtimes.ttf) format("truetype");
}
@font-face{
	font-family: "libel";
	src:url(libel-suit-rg.ttf) format("truetype");
}
h5{
	margin-top: 0;
	margin-bottom: 0;
	font-family: "goodtimes";
	font-size:20px;
	letter-spacing: 1px;
}
.images-container{
	width:50%;
	height:600px;
	margin: 0 auto;
	position: relative;
	-webkit-perspective: 350px;
	perspective: 350px;
	margin-top: 250px;
}
.rotating-image-container{
	position: absolute;
	width:300px;
	top:0;
	left:0;
	transition:all linear 0.25s;
	cursor: pointer;
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.rotating-image-container:hover{
	box-shadow:0 1px 10px rgba(0, 0, 0, 1);
}
.rotating-image-container>img{
	width:100%;
	height:auto;
	display: block;
}

.rotating-image-container[data-order="1"]{
	z-index: 4;
}
.rotating-image-container[data-order="2"]{
	z-index: 2;
	filter:blur(2px);
	transform: translateZ(-100px);
	margin-left: 20px;
}
.rotating-image-container[data-order="3"]{
	z-index: 1;
	transform: translateZ(-200px);
	filter:blur(4px);
	margin-left: 40px;
}
.image-description-container{
	background-color: rgba(255,255,255,0.8);
	padding:10px;	
}
.image-description-container .image-description{
	font-family: "libel";
	line-height: 1.5em;
}
.image-description-container>h5{
	margin-bottom: 5px;
}